<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <th><img class="img-fluid img-thumbnail" [src]=product.image [alt]=product.name/></th>
            <th>{{product.name}}</th>
            <th>{{product.type}}</th>
            <th>{{product.price | currency}}</th>
            <th><span *ngIf="product.stock==0" class="badge badge-secondary">SIN STOCK</span></th>
        </tr>
        
    </tbody>
</table>