<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><img class="img-fluid img-thumbnail" [src]=beer.image [alt]=beer.name/> </th>
            <th>{{beer.name}}</th>
            <th>{{beer.type}}</th>
            <th>{{beer.price}}</th>
            <th>{{beer.stock}}</th>
        </tr>
        <tr>
            <td>Red Wine</td>
            <td>Barley wine</td>
            <td>40</td>
            <td>1200</td>
        </tr>
    </tbody>
</table>