/* You can add global styles to this file, and also import other style files */
#navbarNav {
    margin-left: 40px;
}

.footer {
    background-color: #f8f9fa;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    margin-top: 50px;
}
